.contact{
    display: flex;
    flex-direction: column;
    gap: 54px;
    padding-top: 22px;
}

.contact-text{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.contact-info{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.contact-info__icon{
    max-height: 32px;
    max-width: 32px;
}

.contact-info__type{
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    line-height: 160%;
}

.contact-info__message, .contact-info__data{
    font-size: 16px;
}

.contact-info__href{
    padding-top: 20px;
}

.contact-page__img {
    flex: 1;
    display: flex;
    height: 650px;
    justify-content: flex-end;
    align-items: flex-end;
    padding-top: 40px;
}

.contact-page__img img {
    width: 100%;
    height: auto;
    max-width: 601px;
    max-height: 442px;
    border-radius: 8px;
    object-fit: cover;
}