.discover-page {
    flex-direction: column;
    align-items: start;
}

.discover-page__content {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 848px;
    padding-top: 16px;
}

.discover-page__feature-title {
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    line-height: 160%;
}

.discover-page__feature-desc {
    font-size: 16px;
}

@media (max-width: 1024px) {
    .discover-page {
        padding: 60px 40px 70px 40px;
    }

    .discover-page__content{
        width: 100%;
    }


    .discover-page__feature-title {
        font-size: 20px;
        line-height: 150%;
    }

    .discover-page__feature-desc {
        font-size: 15px;
    }
}

@media (max-width: 768px) {
    .discover-page {
        padding: 40px 30px 50px 30px;
    }

    .discover-page__content p h1{
        text-align: center;
    }

    .grid_1-3-features {
        grid-template-columns: 100%;
        gap: 40px;
    }

    .discover-page__feature {
        max-width: 500px;
        margin: 0 auto;
        width: 100%;
    }

    .discover-page__title {
        font-size: 28px;
    }

    .discover-page__feature-title {
        font-size: 19px;
        line-height: 140%;
    }
}

@media (max-width: 480px) {
    .discover-page {
        padding: 30px 20px 40px 20px;
    }

    .discover-page__title {
        font-size: 24px;
        text-align: center;
    }

    .discover-page__feature-title {
        font-size: 18px;
        line-height: 130%;
    }

    .discover-page__feature-desc {
        font-size: 14px;
        line-height: 140%;
    }

    .grid_1-3-img {
        max-height: 200px;
        object-fit: cover;
        width: 100%;
    }

    .href {
        font-size: 14px;
        padding-top: 6px;
    }
}