.discover-page {
    flex-direction: column;
    align-items: start;
}

.discover-page__content {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 848px;
    padding-top: 16px;
}

.discover-page__feature-title {
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    line-height: 160%;
}

.discover-page__feature-desc {
    font-size: 16px;
}