.footer__content{
    display: flex;
    flex-direction: column;
    gap: 48px;
    width: 600px;
}

.footer__title{
    font-family: "Montserrat", sans-serif;
    font-size: 32px;
    font-weight: bold;
    margin: 0;
}

.footer__desc{
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    margin-bottom: 0;
}

.footer__form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px;
}

.footer__input{
    display: flex;
    gap: 16px;
}

.email{
    font-family: "Inter", sans-serif;
    font-size: 14px;
    border: 1px solid black;
    border-radius: 8px;
    padding: 8px 16px;
    flex: 1;
    background-color: transparent;
}

.footer__form__alert{
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    color: #676767;
}

.footer__links{
    display: flex;
    align-items: center;
    gap: 66px;
}

.footer__links-left {
    display: grid;
    grid-template-columns: repeat(2, 156px);
    grid-template-rows: auto repeat(5, auto);
    grid-column-gap: 66px;
    grid-row-gap: 16px;
}

.title1 { grid-area: 1 / 1 / 2 / 2; }
.link1-1 { grid-area: 2 / 1 / 3 / 2; }
.link1-2 { grid-area: 3 / 1 / 4 / 2; }
.link1-3 { grid-area: 4 / 1 / 5 / 2; }
.link1-4 { grid-area: 5 / 1 / 6 / 2; }
.link1-5 { grid-area: 6 / 1 / 7 / 2; }

.title2 { grid-area: 1 / 2 / 2 / 2; }
.link2-1 { grid-area: 2 / 2 / 3 / 2; }
.link2-2 { grid-area: 3 / 2 / 4 / 2; }
.link2-3 { grid-area: 4 / 2 / 5 / 2; }
.link2-4 { grid-area: 5 / 2 / 6 / 2; }
.link2-5 { grid-area: 6 / 2 / 7 / 2; }

.footer__links-right {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(5, auto);
    grid-column-gap: 0;
    grid-row-gap: 16px;
}

.title3 { grid-area: 1 / 1 / 2 / 2; }
.link3-1 { grid-area: 2 / 1 / 3 / 2; }
.link3-2 { grid-area: 3 / 1 / 4 / 2; }
.link3-3 { grid-area: 4 / 1 / 5 / 2; }
.link3-4 { grid-area: 5 / 1 / 6 / 2; }

.footer__links-title{
    font-family: "Poppins", sans-serif;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 8px;
}

.footer__link{
    font-family: "Poppins", sans-serif;
    display: flex;
    align-items: center;
    gap: 8px;
}