.nav{
    display: flex;
    justify-content: space-between;
    margin: 12px 24px;
}

.button{
    background-color: black;
    padding: 12px 24px;
    font-weight: 500;
    border: 1px solid rgba(0,0,0,0);
    border-radius: 8px;
    cursor: pointer;
    font-family: 'Inter', sans-serif;
    transition: all 0.3s ease-in-out;
}

.button--primary{
    color: white;
    background-color: black;
}
.button--primary:hover{
    background-color: white;
    border: 1px solid black;
    color: black;
    transition: all 0.3s ease-in-out;
}

.header__links{
    display: flex;
    gap: 16px;
    align-items: center;
}

.header__link{
    text-decoration: none;
    font-size: 16px;
    color: black;
    font-family: 'Inter', sans-serif;
    transition: all 0.3s ease-in-out;
}
.header__link:hover{
    transform: translateY(-3px);
    transition: all 0.3s ease-in-out;
}

.main__img{
    width: 100%;
    height: 595px;
    object-fit: cover;
    object-position: bottom;
}

.main-text{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 72px 80px;
    height: 151px;
}

.main-text__title{
    font-family: 'Montserrat', sans-serif;
    font-size: 52px;
    font-weight: bold;
    width: 30%;
}

.main-text__content{
    width: 35%;
}

.main-text__text{
    font-family: 'Poppins', sans-serif;
}

.button--secondary{
    background-color: white;
    color: black;
    border: 1px solid black;
    transition: all 0.3s ease-in-out;
}
.button--secondary:hover{
    transform: translateY(-3px);
    transition: all 0.3s ease-in-out;
}