.main-page__img{
    width: 100%;
    height: 595px;
    object-fit: cover;
    object-position: bottom;
}

.main-page__text{
    display: flex;
    justify-content: space-between;
    padding: 82px 80px;
    height: 151px;
}

.main-text__title{
    font-family: 'Montserrat', sans-serif;
    font-size: 52px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    gap: 2px;
    margin: 0;
}

.main-text__content{
    width: 47%;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.main-text__text{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    font-size: 18px;
    width: 93%;
}

.main-text__buttons{
    display: flex;
    gap: 16px;
}