.main-page{
    height: 890px;
    flex-direction: column;
}

.main-page__img{
    width: 100%;
    height: 595px;
    object-fit: cover;
    object-position: bottom;
    flex: 1;
}

.main-page__text{
    display: flex;
    justify-content: space-between;
    padding: 82px 80px;
    height: 151px;
}

.main-text__title{
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.main-text__content{
    width: 47%;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.main-text__text{
    width: 93%;
}

.main-text__buttons{
    display: flex;
    gap: 16px;
}