.rev-page__content {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 32px;
    height: 619px;
    padding: 15px 0;
}

.rev-page__content-text {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 28px 0;
}

.content-text__label {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0;
    vertical-align: middle;
    line-height: 150%;
    margin-bottom: 20px;
}

.content-text__title {
    font-family: 'Montserrat', sans-serif;
    font-size: 52px;
    font-weight: bold;
    letter-spacing: 0;
    vertical-align: middle;
    line-height: 128%;

}

.content-text__desc {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 160%;
}

.rev-page__features {
    display: flex;
    gap: 16px;
    margin-bottom: 16px;
}

.rev-page__feature {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.rev-page__feature-title {
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 0;
    vertical-align: middle;
    line-height: 160%;
    margin: 0;
}

.rev-page__feature-desc {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 160%;
    margin: 0;
}

.rev-page__actions {
    display: flex;
    gap: 16px;
}

.href{
    border: none;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 600;
    font-family: 'Inter', sans-serif;
    display: flex;
    width: fit-content;
    background-color: transparent;
    gap: 10px;
    align-items: center;
}

.rev-page__img {
    flex: 1;
}

.rev-page__img img {
    width: 100%;
    height: 600px;
    border-radius: 8px;
    object-fit: cover;
}