.secrets-page__content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 619px;
    gap: 48px;
    padding: 34px 0;
}

.secrets-page__content-text {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.secrets-page__img {
    flex: 1;
}

.secrets-page__img img {
    width: 100%;
    height: 600px;
    border-radius: 8px;
    object-fit: cover;
}
